<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Work</title>
</head>
<body>
    <ul>
        <li>Dangerously in Love</li>
        <li>I Am...Sasha Fierce</li>
        <li>Lemonade</li>
        <li>The Lion King: The Gift</li>
        <li>Renaissance</li>
    </ul>
    
</body>
</html>